
.nav a{
  color: #7c645b;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li{
  display: inline;
  font-family: 'Arimo', sans-serif;
}

body{
  padding-top: 75px;
}

.jumbotron{
  background-image:url('');
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container{
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 40px;
  font-family: 'Courgette', cursive;
}

.panel > .panel-heading{
  background-image: none;
  color: white;
}

#music-rec{
  background-color: #E3A7D8;
}

#music-panel{
  background-color: #F1D3EC;
}

#news-rec{
  background-color: #A7D8E3;
}

#news-panel{
  background-color: #D3ECF1;
}

#movie-rec{
  background-color: #A7E3D0;
}

#movie-panel{
  background-color: #D3F1E8;
}

#shows-rec{
  background-color: #B2A7E3;
}

#shows-panel{
  background-color: #D8D3F1;
}

.thumbnail img{
  max-height: 30%;
  max-width: 30%;
}
