body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/********** nav bar **********/

.nav {
  z-index:1;
}

.nav a{
  color: #7c645b;
  font-size: 28px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li{
  display: inline;
  font-family: 'Arimo', sans-serif;
}

.nav img{
  width: 28px;
  height: 28px;
  border: 0;
}

/********** login **********/

#login {
  top: 65px;
  position: relative;
}

/*
#email_div {
  position: absolute;
  z-index:2;
}

#password_div {
  z-index:2;
  position: absolute;
}
*/

/********** year selection **********/

.jumbotron{
  background-image:url('');
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-default {
  background-color: rgba(0,0,0,0);
}

.jumbotron .container{
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 40px;
  font-family: 'Courgette', cursive;
}

#years {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#set {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container button {
  margin-top: 10%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

#years button {
  width: 30px;
  justify-content: center;
}

#set input {
  height: 50px;
  width: 50%;
}

.input-group p {
  font-size: 80px;
}

/********** GO Button **********/

#submit {
  background: radial-gradient(#31F8FB, #1542F9);
  border-radius: 100%;
  font-size: 60px;
  width: 120px;
  height: 120px;
  color: white;
}

#submit a {
  color: black;
}

.thumbnail img{
  max-height: 30%;
  max-width: 30%;
}

.fit {
  height:100%;
  width:100%;
  object-fit:fill;
}