<!DOCTYPE html>
<html>

<!--Includes-->
  <head>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Courgette" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">


  </head>

  <body>
    <!-- Nav Bar ------------------------>
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="pull-left">
        </ul>
        <ul class="pull-right">
          <li><a href="settings.html"><img src="images/settings_gear.png"></a></li>
        </ul>
      </div>
    </nav>
    <!-- End of Nav Bar ------------------------>

    <!-- Jumbotron ------------------------>

    <div class="jumbotron">
      <div class="container">
        <center ng-app="selecting">
          <h1>Memory Lane</h1>
          <div class="input-group" id="years">
            <div id="thousands" class="padding-0" ng-controller="CountController as cntCtrl">
              <button class="set input-group-addon" id="basic-addon1" ng-click="cntCtrl.increaseCount('thousands')">^</button>
              <span> {{cntCtrl.count}} </span>
              <button class="input-group-addon" id="basic-addon1" ng-click="cntCtrl.decreaseCount('thousands')">v</button>
            </div>
            <div id="hundreds" class="set padding-0" ng-controller="CountController as cntCtrl">
              <button class="input-group-addon" id="basic-addon1" ng-click="cntCtrl.increaseCount('hundreds')">^</button>
              <span> {{cntCtrl.count}} </span>
              <button class="input-group-addon" id="basic-addon1" ng-click="cntCtrl.decreaseCount('hundreds')">v</button>
            </div>
            <div id="tens" class="set padding-0" ng-controller="CountController as cntCtrl">
              <button class="input-group-addon" id="basic-addon1" ng-click="cntCtrl.increaseCount('tens')">^</button>
              <span> {{cntCtrl.count}} </span>
              <button class="input-group-addon" id="basic-addon1" ng-click="cntCtrl.decreaseCount('tens')">v</button>
            </div>
            <div id="ones" class="set padding-0" ng-controller="CountController as cntCtrl">
              <button class="input-group-addon" id="basic-addon1" ng-click="cntCtrl.increaseCount('ones')">^</button>
              <span> {{cntCtrl.count}} </span>
              <button class="input-group-addon" id="basic-addon1" ng-click="cntCtrl.decreaseCount('ones')">v</button>
            </div>
          </div>
          <div ng-controller="ExploreController as exCtrl">
            <button type="button" class="btn btn-default button" id="submit"  ng-click="exCtrl.checkYear()">GO</button>
          </div>


        </center>
      </div>
    </div>

    <!-- End of Jumbotron ------------------------>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/memory_lane.js"></script>
  </body>

</html>
